{% extends "base.html" %}

    {% block content %}
    <main>
        <!-- slideshow content begin -->
        <div class="uk-section uk-padding-remove-vertical">
            <div class="in-slideshow uk-visible-toggle" data-uk-slideshow>
                <ul class="uk-slideshow-items">
                    <li>
                        <div class="uk-container">
                            <div class="uk-grid" data-uk-grid>
                                <div class="uk-width-1-2@m">
                                    <div class="uk-overlay">
                                        <h1>Get more <span class="in-highlight">freedom</span> in the markets.</h1>
                                        <p class="uk-text-lead uk-visible@m">Trade Cryptocurrencies, Stock Indices, Commodities and Forex from a single account</p>
                                        
                                        {% if not user.is_authenticated %}       
                                        <div class="in-slideshow-button">
                                            <a href="/signup" class="uk-button uk-button-primary uk-border-rounded">Open account</a>
                                            <a href="/signin" class="uk-button uk-button-default uk-border-rounded uk-margin-small-left uk-visible@m">Discover account</a>
                                        </div>
                                        {% endif %}
                                        {% if user.is_authenticated %}       
                                        <div class="in-slideshow-button">
                                            <a href="/profile" class="uk-button uk-button-primary uk-border-rounded">Profile</a>
                                            <a href="/crossrates" class="uk-button uk-button-default uk-border-rounded uk-margin-small-left uk-visible@m">Watch Exchange</a>
                                        </div>
                                        {% endif %}

                                        <p class="uk-text-small"><span class="uk-text-primary">*</span>Trading in Forex/ CFDs is highly speculative and carries a high level of risk.</p>
                                    </div>
                                </div>
                                <div class="uk-position-center">
                                    <img class="uk-animation-slide-top-small" src="{{url_for('static', filename="img/in-lazy.svg") }}" data-src="{{url_for('static', filename="img/in-slideshow-image-1.png") }}" alt="slideshow-image" width="862" height="540" data-uk-img>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="uk-container">
                            <div class="uk-grid" data-uk-grid>
                                <div class="uk-width-1-2@m">
                                    <div class="uk-overlay">
                                        <h1>Let top <span class="in-highlight">traders</span> do the job for you!</h1>
                                        <p class="uk-text-lead uk-visible@m">Covesting allows you to automatically copy top performing traders and achieve the returns</p>
                                        {% if not user.is_authenticated %}       
                                        <div class="in-slideshow-button">
                                            <a href="/signup" class="uk-button uk-button-primary uk-border-rounded">Open account</a>
                                            <a href="/signin" class="uk-button uk-button-default uk-border-rounded uk-margin-small-left uk-visible@m">Discover account</a>
                                        </div>
                                        {% endif %}
                                        {% if user.is_authenticated %}       
                                        <div class="in-slideshow-button">
                                            <a href="/profile" class="uk-button uk-button-primary uk-border-rounded">Profile</a>
                                            <a href="/crossrates" class="uk-button uk-button-default uk-border-rounded uk-margin-small-left uk-visible@m">Watch Exchange</a>
                                        </div>
                                        {% endif %}
                                        <p class="uk-text-small"><span class="uk-text-primary">*</span>Trading in Forex/ CFDs is highly speculative and carries a high level of risk.</p>
                                    </div>
                                </div>
                                <div class="uk-position-center">
                                    <img class="uk-animation-slide-top-small" src="{{url_for('static', filename="img/in-lazy.svg") }}" data-src="{{url_for('static', filename="img/in-slideshow-image-2.png") }}" alt="slideshow-image" width="862" height="540" data-uk-img>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <a class="#" data-uk-slidenav-previous data-uk-slideshow-item="previous"></a>
                <a class="#" data-uk-slidenav-next data-uk-slideshow-item="next"></a>
                <div class="uk-container in-slideshow-feature uk-visible@m">
                    <div class="uk-grid uk-flex uk-flex-center">
                        <div class="uk-width-3-4@m">
                            <div class="uk-child-width-1-4" data-uk-grid>
                                <div class="uk-flex uk-flex-middle">
                                    <div class="uk-margin-small-right">
                                        <i class="fas fa-drafting-compass in-icon-wrap small circle uk-box-shadow-small"></i>
                                    </div>
                                    <div>
                                        <p class="uk-text-bold uk-margin-remove">Enhanced Tools</p>
                                    </div>
                                </div>
                                <div class="uk-flex uk-flex-middle">
                                    <div class="uk-margin-small-right">
                                        <i class="fas fa-book in-icon-wrap small circle uk-box-shadow-small"></i>
                                    </div>
                                    <div>
                                        <p class="uk-text-bold uk-margin-remove">Trading Guides</p>
                                    </div>
                                </div>
                                <div class="uk-flex uk-flex-middle">
                                    <div class="uk-margin-small-right">
                                        <i class="fas fa-bolt in-icon-wrap small circle uk-box-shadow-small"></i>
                                    </div>
                                    <div>
                                        <p class="uk-text-bold uk-margin-remove">Fast execution</p>
                                    </div>
                                </div>
                                <div class="uk-flex uk-flex-middle">
                                    <div class="uk-margin-small-right">
                                        <i class="fas fa-percentage in-icon-wrap small circle uk-box-shadow-small"></i>
                                    </div>
                                    <div>
                                        <p class="uk-text-bold uk-margin-remove">0% Commission</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slideshow content end -->
        <!-- section content begin -->
        <div class="uk-section uk-section-muted in-padding-large-vertical@s in-profit-1">
            <div class="uk-container">
                <div class="uk-grid-divider" data-uk-grid>
                    <div class="uk-width-expand@m in-margin-top-20@s">
                        <h2>Why Glace Wealth Management is a trusted FX broker</h2>
                        <p>We pride ourselves in delivering a technology that you won't find anywhere else. We are enabling "smaller" investors to finally get involved in the cryptocurrency  market and have real success..</p>
                    </div>
                    <div class="uk-width-2-3@m">
                        <div class="uk-child-width-1-2@s uk-child-width-1-2@m" data-uk-grid>
                            <div class="uk-flex uk-flex-middle">
                                <div class="uk-margin-right">
                                    <img src="{{url_for('static', filename="img/in-lazy.svg") }}" data-src="{{url_for('static', filename="img/in-profit-icon-1.svg") }}" alt="profit-icon" width="72" height="72" data-uk-img>
                                </div>
                                <div>
                                    <p class="uk-text-bold">Wide Range of Trading Instruments</p>
                                </div>
                            </div>
                            <div class="uk-flex uk-flex-middle">
                                <div class="uk-margin-right">
                                    <img src="{{url_for('static', filename="img/in-lazy.svg") }}" data-src="{{url_for('static', filename="img/in-profit-icon-2.svg") }}" alt="profit-icon" width="72" height="72" data-uk-img>
                                </div>
                                <div>
                                    <p class="uk-text-bold">Unparalleled Trading Conditions</p>
                                </div>
                            </div>
                            <div class="uk-flex uk-flex-middle">
                                <div class="uk-margin-right">
                                    <img src="{{url_for('static', filename="img/in-lazy.svg") }}" data-src="{{url_for('static', filename="img/in-profit-icon-3.svg") }}" alt="profit-icon" width="72" height="72" data-uk-img>
                                </div>
                                <div>
                                    <p class="uk-text-bold">Globally Licensed &amp; Regulated</p>
                                </div>
                            </div>
                            <div class="uk-flex uk-flex-middle">
                                <div class="uk-margin-right">
                                    <img src="{{url_for('static', filename="img/in-lazy.svg") }}" data-src="{{url_for('static', filename="img/in-profit-icon-4.svg") }}" alt="profit-icon" width="72" height="72" data-uk-img>
                                </div>
                                <div>
                                    <p class="uk-text-bold">Committed to Forex Education</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- section content end -->
        <!-- section content begin -->
        <div class="uk-section uk-padding-large in-padding-large-vertical@s uk-background-contain in-profit-2" data-src="{{url_for('static', filename="img/in-profit-decor-3.svg") }}" data-uk-img>
            <div class="uk-container">
                <div class="uk-grid uk-flex uk-flex-center">
                    <div class="uk-width-1-2@m uk-text-center">
                        <h2>Our Trading Plans.</h2>
                        <p class="uk-text-lead">Start your journey with us at your own paces.</p>
                        <i class="fas fa-chevron-down uk-text-primary"></i>
                    </div>
                    <div class="uk-width-5-6@m">
                        <div class="uk-child-width-1-2@s uk-child-width-1-2@m uk-margin-medium-top" data-uk-grid>
                            <div>
                                <div class="in-pricing-1">
                                    <div class="uk-card uk-card-default uk-box-shadow-medium">
                                        <div class="uk-card-media-top">
                                            <img class="uk-width-1-1 uk-align-center" src="{{url_for('static', filename="img/in-lazy.svg") }}" data-src="{{url_for('static', filename="img/in-profit-content-3.jpg") }}" data-width data-height alt="sample-image" data-uk-img>
                                            <span></span>
                                        </div>
                                        <div class="uk-card-body">
                                            <div class="in-heading-extra in-card-decor-1">
                                                <h2 class="uk-margin-remove-bottom">Basic</h2>
                                                <p class="uk-text-lead">From 1000 USD</p>
                                            </div>
                                               <div class="uk-margin-medium-top">
                                                <a class="uk-button uk-button-link uk-text-uppercase uk-text-medium" href="investment">See Plan<i class="fas fa-caret-square-right uk-margin-small-left"></i></a>
                                                <span class="uk-label uk-border-pill uk-align-right">20% Interest Rate</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="in-pricing-1">
                                    <div class="uk-card uk-card-default uk-box-shadow-medium">
                                        <div class="uk-card-media-top">
                                            <img class="uk-width-1-1 uk-align-center" src="{{url_for('static', filename="img/in-lazy.svg") }}" data-src="{{url_for('static', filename="img/in-profit-content-4.jpg") }}" data-width data-height alt="sample-image" data-uk-img>
                                            <span></span>
                                        </div>
                                        <div class="uk-card-body">
                                            <div class="in-heading-extra in-card-decor-2">
                                                <h2 class="uk-margin-remove-bottom">Standard</h2>
                                                <p class="uk-text-lead">From 4000 USD</p>
                                            </div>
                                            <div class="uk-margin-medium-top">
                                                <a class="uk-button uk-button-link uk-text-uppercase uk-text-medium" href="/investment">See Plan<i class="fas fa-caret-square-right uk-margin-small-left"></i></a>
                                                <span class="uk-label uk-border-pill uk-align-right">25% Interest Rate</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="in-pricing-1">
                                    <div class="uk-card uk-card-default uk-box-shadow-medium">
                                        <div class="uk-card-media-top">
                                            <img class="uk-width-1-1 uk-align-center" src="{{url_for('static', filename="img/in-lazy.svg") }}" data-src="{{url_for('static', filename="img/in-profit-content-5.jpg") }}" data-width data-height alt="sample-image" data-uk-img>
                                            <span></span>
                                        </div>
                                        <div class="uk-card-body">
                                            <div class="in-heading-extra in-card-decor-2">
                                                <h2 class="uk-margin-remove-bottom">Silver</h2>
                                                <p class="uk-text-lead">From 10000 USD</p>
                                            </div>
                                             <div class="uk-margin-medium-top">
                                                <a class="uk-button uk-button-link uk-text-uppercase uk-text-medium" href="investment">See Plan<i class="fas fa-caret-square-right uk-margin-small-left"></i></a>
                                                <span class="uk-label uk-border-pill uk-align-right">28% Interest Rate</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="in-pricing-1">
                                    <div class="uk-card uk-card-default uk-box-shadow-medium">
                                        <div class="uk-card-media-top">
                                            <img class="uk-width-1-1 uk-align-center" src="{{url_for('static', filename="img/in-lazy.svg") }}" data-src="{{url_for('static', filename="img/in-profit-content-6.jpg") }}" data-width data-height alt="sample-image" data-uk-img>
                                            <span></span>
                                        </div>
                                        <div class="uk-card-body">
                                            <div class="in-heading-extra in-card-decor-2">
                                                <h2 class="uk-margin-remove-bottom">Gold</h2>
                                                <p class="uk-text-lead">From 50000 USD</p>
                                            </div>
                                            <div class="uk-margin-medium-top">
                                                <a class="uk-button uk-button-link uk-text-uppercase uk-text-medium" href="/investment">See Plan<i class="fas fa-caret-square-right uk-margin-small-left"></i></a>
                                                <span class="uk-label uk-border-pill uk-align-right">30% Interest Rate</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                  
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- section content end -->
        <!-- section content begin -->
        <div class="uk-section uk-padding-large in-padding-large-vertical@s uk-background-contain in-profit-2" data-src="{{url_for('static', filename="img/in-profit-decor-3.svg") }}" data-uk-img>
            <div class="uk-container">
                <div class="uk-grid uk-flex uk-flex-center">
                    <div class="uk-width-1-2@m uk-text-center">
                        <h2>Experience more than Trading.</h2>
                        <p class="uk-text-lead">Watch and trade the market with our experts and tools for maximum Investment turn arounds</p>
                        <i class="fas fa-chevron-down uk-text-primary"></i>
                    </div>
                    <div class="uk-width-5-6@m">
                        <div class="uk-child-width-1-2@s uk-child-width-1-2@m uk-margin-medium-top" data-uk-grid>
                            <div>
                                <div class="in-pricing-1">
                                    <div class="uk-card uk-card-default uk-box-shadow-medium">
                                        <div class="uk-card-media-top">
                                            <img class="uk-width-1-1 uk-align-center" src="{{url_for('static', filename="img/in-lazy.svg") }}" data-src="{{url_for('static', filename="img/in-profit-content-1.jpg") }}" data-width data-height alt="sample-image" data-uk-img>
                                            <span></span>
                                        </div>
                                        <div class="uk-card-body">
                                            <div class="in-heading-extra in-card-decor-1">
                                                <h2 class="uk-margin-remove-bottom">Economic</h2>
                                                <p class="uk-text-lead">Analysis</p>
                                            </div>
                                            <p class="uk-margin-small-top">Stay ahead of the markets with world-leading market analysis through daily webinars by industry experts.</p>
                                            <div class="uk-margin-medium-top">
                                                 <span class="uk-label uk-border-pill uk-align-right">Weekly Update</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="in-pricing-1">
                                    <div class="uk-card uk-card-default uk-box-shadow-medium">
                                        <div class="uk-card-media-top">
                                            <img class="uk-width-1-1 uk-align-center" src="{{url_for('static', filename="img/in-lazy.svg") }}" data-src="{{url_for('static', filename="img/in-profit-content-2.jpg") }}" data-width data-height alt="sample-image" data-uk-img>
                                            <span></span>
                                        </div>
                                        <div class="uk-card-body">
                                            <div class="in-heading-extra in-card-decor-2">
                                                <h2 class="uk-margin-remove-bottom">Technical</h2>
                                                <p class="uk-text-lead">Analysis</p>
                                            </div>
                                            <p class="uk-margin-small-top">Access the financial markets with an account catered to your needs and benefit from good conditions.</p>
                                            <div class="uk-margin-medium-top">
                                                  <span class="uk-label uk-border-pill uk-align-right">Daily Update</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          
                            <div class="uk-width-1-1">
                                <div class="uk-grid uk-grid-divider uk-grid-match in-profit-tradestatus" data-uk-grid>
                                    <div class="uk-width-1-1 uk-width-auto@m">
                                        <div class="uk-flex uk-flex-left uk-flex-center@m">
                                            <div class="uk-grid uk-grid-small uk-flex-middle">
                                                <div class="uk-width-auto">
                                                    <i class="fas fa-chart-line fa-2x in-icon-wrap circle primary-color"></i>
                                                </div>
                                                <div class="uk-width-expand">
                                                    <h1 class="uk-margin-remove-bottom">324,978,126</h1>
                                                    <p class="uk-text-uppercase uk-text-primary uk-text-small uk-margin-remove-top">Trades Opened at Profit</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-width-1-1 uk-width-expand@m uk-flex-middle">
                                        <p class="uk-text-lead">Trade & Invest in Stocks, Currencies, Indices, and Commodities (CFDs).</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- section content end -->
        <!-- section content begin -->
        <div class="uk-section uk-section-secondary uk-padding-large uk-background-contain uk-background-bottom-center in-padding-large-vertical@s in-profit-3" data-src="{{url_for('static', filename="img/in-section-profit-3.png") }}" data-uk-img>
            <div class="uk-container uk-margin-small-bottom">
                <div class="uk-grid-large" data-uk-grid>
                    <div class="uk-width-1-2@m">
                        <h2>We are committed to meeting your CFD and FX trading needs</h2>
                        <p class="uk-text-lead">Our financial advisors and representatives are known for their efficiency and remarkable attributes.</p>
                    </div>
                    <div class="uk-width-1-1">
                        <div class="uk-child-width-1-2@s uk-child-width-1-4@m uk-margin-small-top" data-uk-grid>
                            <div>
                                <h1 class="uk-heading-bullet">
                                    <span class="count" data-counter-end="250">0</span>M+
                                </h1>
                                <p>Total Profit made in USD Since Start Up.</p>
                            </div>
                            <div>
                                <h1 class="uk-heading-bullet">
                                    <span class="count" data-counter-end="90">0</span>%
                                </h1>
                                <p>Turn around rate.</p>
                            </div>
                            <div>
                                <h1 class="uk-heading-bullet">
                                    <span class="count" data-counter-end="131">0</span>K+
                                </h1>
                                <p>Customers World Wide.</p>
                            </div>
                            <div>
                                <h1 class="uk-heading-bullet">
                                    <span class="count" data-counter-end="35">0</span>M+
                                </h1>
                                <p>Average Investment made Anually.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- section content end -->
        <!-- section content begin -->
        <div class="uk-section uk-padding-large in-padding-large-vertical@s in-profit-4">
            <div class="uk-container uk-margin-small-top uk-margin-medium-bottom">
                <div class="uk-grid uk-flex uk-flex-center " data-uk-grid>
                    <div class="uk-width-5-6@m">
                        <div class="uk-grid uk-flex-middle" data-uk-grid>
                            <div class="uk-width-expand@m">
                                <h2>Connect to global capital markets</h2>
                            </div>
                            <div class="uk-width-3-5@m">
                                <p class="uk-text-lead">Access 40,000+ trading instruments and professional asset management on award-winning platforms.</p>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-1-1">
                        <div class="uk-child-width-1-2@s uk-child-width-1-5@m in-profit-stockprice" data-uk-grid>
                            <div>
                                <div class="uk-card uk-card-body uk-card-small uk-card-default uk-border-pill">
                                    <span class="uk-float-left">
                                        <img src="{{url_for('static', filename="img/in-lazy.svg") }}" data-src="{{url_for('static', filename="img/in-profit-ticker-1.svg") }}" alt="profit-ticker" width="77" height="20" data-uk-img>
                                    </span>
                                    <span class="uk-float-right down">
                                        <i class="fas fa-arrow-down"></i>1,526.05
                                    </span>
                                </div>
                            </div>
                            <div>
                                <div class="uk-card uk-card-body uk-card-small uk-card-default uk-border-pill">
                                    <span class="uk-float-left">
                                        <img src="{{url_for('static', filename="img/in-lazy.svg") }}" data-src="{{url_for('static', filename="img/in-profit-ticker-2.svg") }}" alt="profit-ticker" width="77" height="20" data-uk-img>
                                    </span>
                                    <span class="uk-float-right down">
                                        <i class="fas fa-arrow-down"></i>205.37
                                    </span>
                                </div>
                            </div>
                            <div>
                                <div class="uk-card uk-card-body uk-card-small uk-card-default uk-border-pill">
                                    <span class="uk-float-left">
                                        <img src="{{url_for('static', filename="img/in-lazy.svg") }}" data-src="{{url_for('static', filename="img/in-profit-ticker-3.svg") }}" alt="profit-ticker" width="77" height="20" data-uk-img>
                                    </span>
                                    <span class="uk-float-right down">
                                        <i class="fas fa-arrow-down"></i>267.97
                                    </span>
                                </div>
                            </div>
                            <div>
                                <div class="uk-card uk-card-body uk-card-small uk-card-default uk-border-pill">
                                    <span class="uk-float-left">
                                        <img src="{{url_for('static', filename="img/in-lazy.svg") }}" data-src="{{url_for('static', filename="img/in-profit-ticker-4.svg") }}" alt="profit-ticker" width="77" height="20" data-uk-img>
                                    </span>
                                    <span class="uk-float-right up">
                                        <i class="fas fa-arrow-up"></i>59,230
                                    </span>
                                </div>
                            </div>
                            <div class="uk-visible@m">
                                <div class="uk-card uk-card-body uk-card-small uk-card-default uk-border-pill">
                                    <span class="uk-float-left">
                                        <img src="{{url_for('static', filename="img/in-lazy.svg") }}" data-src="{{url_for('static', filename="img/in-profit-ticker-5.svg") }}" alt="profit-ticker" width="77" height="20" data-uk-img>
                                    </span>
                                    <span class="uk-float-right up">
                                        <i class="fas fa-arrow-up"></i>78.98
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-5-6@m">
                        <div class="uk-grid-large uk-flex-middle" data-uk-grid>
                            <div class="uk-width-auto@m">
                                <h4 class="uk-margin-remove-bottom uk-text-primary">Ready to trade?</h4>
                                <p class="uk-margin-remove-top">Get started with your trading account today.</p>
                            </div>
                            <div class="uk-width-expand@m">
                                <form class="uk-grid-small" data-uk-grid>
                                    <div class="uk-width-1-1 uk-width-expand@m">
                                        <input class="uk-input uk-border-rounded" type="text" placeholder="Email address...">
                                    </div>
                                    <div class="uk-width-1-1 uk-width-expand@m">
                                        <input class="uk-input uk-border-rounded" type="text" placeholder="Phone number...">
                                    </div>
                                    <div class="uk-width-1-1 uk-width-auto@m">
                                        {% if not user.is_authenticated %}
                                        <button onclick="window.open('/signup','_self')" class="uk-button uk-button-primary uk-border-rounded uk-width-expand">Open Account</button>
                                         {% endif %}
                                        {% if user.is_authenticated %}
                                        <button onclick="window.open('/profile','_self')" class="uk-button uk-button-primary uk-border-rounded uk-width-expand">Profile</button>
                                         {% endif %}
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- section content end -->
        <div class="uk-section in-offset-bottom-40 in-profit-trustpilot">
            <div class="uk-container">
                <div class="uk-grid" data-uk-grid>
                    <div class="uk-width-1-1">
                        <div class="trustpilot-widget" data-locale="en-GB" data-template-id="5406e65db0d04a09e042d5fc" data-businessunit-id="561d886b0000ff0005844fd6" data-style-height="28px" data-style-width="100%" data-theme="light">
                            <a href="https://uk.trustpilot.com/review/pepperstone.com" target="_blank" rel="noopener noreferrer">Trustpilot</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    {% endblock %}