
    <!-- Bootstrap CSS -->
    <link href="{{ url_for('static', filename="form/vendors/bootstrap/css/bootstrap.min.css") }}" rel="stylesheet">
    <link href="{{ url_for('static', filename="form/css/style.css") }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename="form/css/responsive.css") }}">
    <link rel="icon" href="{{ url_for('static', filename="img/favicon.ico") }}" type="image/x-icon">
    <title>{{name}}</title>
</head>

<body>
    <div class="body_wrapper frm-vh-md-100">
        <div class="formify_body" data-bg-color="#E3F0FF">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
              <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                <strong>Notification</strong> {{ message }}.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              {% endfor %}
              {% endif %}
            {% endwith %}
            <div class="f_content">
                <div class="container-fluid custom_container">
                    <div class="row">
                        <div class="col-lg-6 formify_content_left text-center">
                            <div class="formify_logo_wrapper">
                                <a href=""><img src="{{ url_for('static', filename="img/in-logo-1.svg") }}" alt=""></a>
                                <p>Resend Password to Email</p>
                            </div>
                            <img class="img-fluid img" src="{{ url_for('static', filename="form/img/chat-left.png") }}" alt="">
                        </div>
                        <div class="col-lg-6 formify_content_right">
                            <div class=""formify_box ml-auto mr-auto">
                                <h4 class="form_title">Enter the Email Address Registered to Your Account</h4>
                                <!-- <a href="#" class="btn btn-social btn-google"><img class="icon"
                                        src="{{ url_for('static', filename="form/img/google.png") }}" alt="">Sign
                                    up with Google</a> -->
                                <!-- <div class="text-center">
                                    <span class="or-text">or</span>
                                </div> -->
                                <form method="post" class="signup_form">
                                    <div class="form-group">
                                        <label class="input_title" for="inputName">Email Address</label>
                                        <input type="text" name="email" class="form-control" id="inputName" placeholder="Enter Your Email" required="">
                                    </div>
                                    
                                   
                                    <div class="form-group">
                                        <button type="submit" class="btn action_btn thm_btn">Resend Password</button>
                                    </div>
                                    <p class="form_footer_text">Back to Sign In <a href="/signin">Sign in</a>
                                    </p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->
    <script src="{{ url_for('static', filename="form/js/jquery-3.4.1.min.js") }}"></script>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="{{ url_for('static', filename="form/vendors/bootstrap/js/popper.min.js") }}"></script>
    <script src="{{ url_for('static', filename="form/vendors/bootstrap/js/bootstrap.min.js") }}"></script>
    <script src="{{ url_for('static', filename="form/js/main.js") }}"></script>

</body>
